[Unit]
Description=start station-radio-interface
After=station-hardware-server.service

[Service]
Type=simple
WorkingDirectory=/lib/ctt/sensor-station-software
ExecStart=npm run start-radio-interface
Restart=on-failure
TimeoutSec=60

[Install]
WantedBy=multi-user.target
